{% extends './block.html' %}
{% block desc %}

<div class="s-content content">
            <main class="row content__page">

                <section class="column large-full entry format-standard">

                    <div class="media-wrap">
                        <div>
                          <img src="static/img/IMG-20190630-WA0005_2.jpg" width="280vw" style="border-radius:50%; margin-left:auto; margin-right:auto; display:block;">
                            <!-- <img src="images/thumbs/about/about-1000.jpg" srcset="images/thumbs/about/about-2000.jpg 2000w,
                                      images/thumbs/about/about-1000.jpg 1000w,
                                      images/thumbs/about/about-500.jpg 500w" sizes="(max-width: 2000px) 100vw, 2000px" alt="" style="z-index:2; position:absolute;"> -->

                        </div>
                    </div>

                    <div class="content__page-header">
                        <h1 class="display-1">
                        Hello, My name is Padam Gupta
                        </h1>
                    </div> <!-- end content__page-header -->

                    <p class="lead drop-cap">
                    I am a computer science student and a data science enthusiast. I always seeks a way to make data beneficial for my motives. I am a python developer, can develop and deploy machine learning and deep learning models on the web using Flask or Django. I can do intensive data preprocessing i.e. data wrangling, EDA, etc. I am good in natural language processing( using spacy, nltk, gensim, etc.) and image processing. I can also make models from scratch using research papers and articles. I have done some projects on Machine and Deep Learning using NLP and Image processing.
                    </p>

                    <hr/>

                    <p>
                    Currently, I am pursuing Bachelor of Technology in Computer science and engineering from JK institute of applied physics and technology, University of Allahabad, Prayagraj, Uttar Pradesh.
                    </p>

                    <hr/>

                    <p>
                    I am a quick learner and very passionate to pursue a career in this field. I never miss the opportunity to learn something new. As a hobby, I know video editing and graphics designing at an adequate level.
                    </p>

                    <hr>
                    <h2 id="contact">Contact Me!</h2>
                        <nav class="contact_me">
                            <ul class="contact__social">
                                <li class="ss-facebook">
                                    <a href="https://www.facebook.com/padam.gupta.3766" target="_blank" rel="noopener noreferrer">
                                        <span class="screen-reader-text">Facebook</span>
                                    </a>
                                </li>
                                <li class="ss-linkedin">
                                    <a href="https://www.linkedin.com/in/deviantpadam/" target="_blank" rel="noopener noreferrer">
                                        <span class="screen-reader-text">Linkedin</span>
                                    </a>
                                </li>
                                <li class="ss-blog">
                                    <a href="https://deviantpadam.github.io" target="_blank" rel="noopener noreferrer">
                                        <span class="screen-reader-text">Web</span>
                                    </a>
                                </li>
                                <li class="ss-phone">
                                    <a href="" id="copy_num" onclick="window.alert('Copied to Clipboard!!')">
                                        <span class="screen-reader-text">Mobile</span>
                                    </a>
                                </li>
                                <li class="ss-email">
                                    <a href="" id="copy_email" onclick="window.alert('Copied to Clipboard!!')">
                                        <span class="screen-reader-text">Email</span>
                                    </a>
                                </li>
                                <li class="ss-github">
                                    <a href="http://github.com/DeviantPadam/" target="_blank" rel="noopener noreferrer">
                                        <span class="screen-reader-text">Github</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                </section>
                
            </main>

        </div>
{% endblock %}